# Built files
*.zip
bin/configs.json
build/
dist/
body.md

# Python cache
__pycache__/
*.py[cod]
*$py.class
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

# Project temp and working directories
.venv/
venv/
bin/temp/
workspace/
.ua/
*.bak